---
import Layout from '../layouts/Layout.astro';
import Nav  from '../components/Nav.astro';

---

<Layout title='Portfolio web - lweb'>
	<Nav />
	<main class="grid grid-rows-2 mt-24 mb-14 lg:grid-cols-2 lg:grid-rows-none">
		<div class="grid place-content-center row-start-2 lg:col-start-1 lg:row-start-1">
			<h1 class="text-5xl text-center font-extrabold sm:text-6xl md:text-6xl lg:text-7xl lg:text-left xl:text-8xl">Hi! My name is Luciano</h1>
			<h2 class="text-2xl text-center font-medium sm:text-3xl md:text-4xl lg:text-5xl lg:text-left xl:text-6xl">Welcome to my portfolio!</h2>
		</div>
		<div class="grid place-content-center lg:col-start-2 lg:place-content-end">
			<img src="/img/gato.jpg" alt="Foto de perfil" 
			class="aspect-square rounded-2xl w-56 shadow-lg sm:w-72 md:w-80">
		</div>
	</main>
	
	<hr class="mb-24 border-2 border-zinc-900  dark:border-slate-200">

	<section>
		<h1 class="text-3xl font-bold mb-2">About me</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur ad eos earum corrupti quia totam cupiditate ut voluptatibus, odio placeat velit, qui sed dolores! Amet ut enim id reiciendis voluptas.</p>
	</section>

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</Layout>