---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-zinc-800 bg-gradient-to-tl from-violet-200 to-pink-200 dark:bg-gradient-to-tl dark:from-slate-900 dark:to-slate-700 dark:text-slate-100 bg-fixed">
		<div class="pattern">
			<div class="xl:w-[60%] lg:w-[70%] sm:w-[90%] w-[90%] m-auto">
				<slot />
			</div>
		</div>
	</body>
</html>
<style is:global>
	
	@font-face {
		font-family: 'Space Grotesk';
		src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf'), format('ttf');
	}

	:root{
		font-family: 'Space Grotesk';
	}

	.pattern{
		background-image: url('/img/graph-paper.svg');
		background-repeat: repeat;
	}

</style>
